<app-header></app-header>
<div class="container-fluid">
    <form [formGroup]="filterForm" (ngSubmit)="consultarDatos(filterForm.value)">
        <div class="row">
            <div class="col">
                <img src="../../../assets/icons/icon-codigo.png" class="ms-3 icon"> Linea:
                <input formControlName="linea" (change)="selectCodigo($event)" list="filterLinea" name="filterLinea" placeholder="Selecciona una Linea" style="width: 11vw;" id="linea" autocomplete="off">
                <datalist id="filterLinea">
                    <option [value]="item.linea" *ngFor="let item of linea">
                        {{item.linea}} {{item.descripcion}}
                    </option>
                </datalist>
            </div>
            <div class="col">
                <img src="../../../assets/icons/icon-codigo.png" class="ms-3 icon"> Código:
                <input formControlName="codigo" (change)="selectedCodigo($event)" list="filterCodigo" name="filterCodigo" placeholder="Selecciona un código" (keydown)="borradoSpanCodigo($event)" style="width: 11vw;" id="codigo" autocomplete="off">
                <datalist required id="filterCodigo">
                    <option [value]="item.codigo" *ngFor="let item of codigo">
                        {{item.codigo}} {{item.descripcion}}
                    </option>
                </datalist>
            </div>
            <div class="col primeraColumna">
                <img src="../../../assets/icons/icon-zona.png" class="icon"> Zona:
                <input formControlName="zona" list="filterZona" name="filterZona" placeholder="Selecciona una Zona" id="zona" style="width: 11vw;" autocomplete="off" (change)="validaZona($event)">
                <datalist required id="filterZona">
                    <option [value]="item.nombre" *ngFor="let item of zona">
                        {{item.area}} {{item.nombre}}
                    </option>
                </datalist>
            </div>
            <div class="col">
                <img src="../../../assets/icons/icon-precio.png" class="ms-4 icon-precio"> Precio propuesto <input type="number" formControlName="propuesto" id="precioPropuesto" required id="precioPropuesto" autocomplete="off">
            </div>
            <div class="col">
                <img src="../../../assets/icons/icon-volumen.png" class="icon"> Volumen <input type="number" formControlName="volumen" required id="volumen" autocomplete="off" [ngModel]="mymodel" (ngModelChange)="valuechange($event)"><span id="selectedUMSpan"> {{selectedUMSpan}}</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="ms-3 d-flex align-items-center">
                    <img src="../../../assets/img/cypto.png" class="icon-crypto"> Distribuye Cryoinfra
                    <label class="switch ms-4">
                        <input type="checkbox" formControlName="tipoOperacion" id="cryoinfra" (change)="loaderCheckbox(filterForm.value)" >
                        <span class="slider round" checked></span>
                    </label>
                </div>
            </div>
            <div class="col text-center d-flex align-items-center">
                <span style="font-size: 0.8em;" id="codigoSpan">{{selectedCodigoSpan}} {{selectedDescripcionSpan}}</span>
            </div>
            <div class="col col-btnSimulacion">
                <button class="btn btn-primary simulacion me-4" type="submit" id="simulacion" (click)="loader()" [disabled]="!filterForm.valid"><img src="../../../assets/icons/icon-ejecutar.png"><b>
                        Ejecutar</b> simulación </button>
            </div>
        </div>
    </form>
    <div class="row mb-4">
        <div class="col-md-4 indicadores mt-4 ms-3">
            <div class="row tituloResultados ">
                <div class="ms-5 mt-3" style="font-size: 1.1em; color: #1F3569; font-family: Roboto-Semibold;">
                    <i class="fa fa-bar-chart me-2 mt-4"></i>
                    <span>Indicadores</span>
                </div>
            </div>
            <div class="row mt-3 indicadoresDivs ms-4 me-4">
                <div class="col-md-3 text-center">
                    <img src="../../../assets/icons/icon-precioPiso.png" class="mt-4 iconDiv">
                </div>
                <div class="col divisionDivs">
                    <div class="row division ">
                        <p class="mt-3" style="color: #1F3569;"><b>Precio piso</b></p>
                    </div>
                    <div class="row mt-2">
                        <p>$ {{chartPrecioPiso | number : '1.2'}}</p>
                    </div>
                </div>
            </div>
            <div class="row mt-3 indicadoresDivs ms-4 me-4">
                <div class="col-md-3 text-center">
                    <img src="../../../assets/icons/icon-utilidad.png" class="mt-4 iconDiv">
                </div>
                <div class="col divisionDivs">
                    <div class="row division ">
                        <p class="mt-3" style="color: #1F3569;"><b>Utilidad operativa neta</b></p>
                    </div>
                    <div class="row mt-2" id="utilidadNetaText">
                        <span><b>{{utilidadNeta}}</b></span>
                    </div>
                </div>
            </div>

            <div class="row mt-3 indicadoresDivs ms-4 me-4 mb-5">
                <div class="col-md-3 text-center">
                    <img src="../../../assets/icons/icon-diferencia.png" class="mt-4 iconDiv">
                </div>
                <div class="col divisionDivs">
                    <div class="posible" style="z-index: 2; position: relative;">
                        <div class="row division ">
                            <p class="mt-3" style="color: #1F3569;"><b>Diferencia en utilidad precio propuesto v.s. piso</b></p>
                        </div>
                        <div class="row mt-2 " id="difPrePropuestoVSPrePiso">
                            <p><b>$ {{difPrePropuestoVSPrePiso | number : '1.2'}}</b></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row costoOportunidad text-center" style="z-index: 1;">
                <span style="font-size: 0.9em; color: #1F3569;">{{costoVariable}} </span>
            </div>
        </div>

        <div class="col resultados ms-1 mt-5 mb-4 me-5">
            <div class="row tituloResultados ">
                <div class="ms-5 mt-3 " style="font-size: 1.1em; color: #1F3569; font-family: Roboto-Semibold;">
                    <i class="fa fa-bar-chart me-2 mt-4"></i>
                    <span>Gráfica </span>
                    <span style="color: #EF872F; ">Resultados</span>
                </div>
            </div>
            <div class="row mt-5 text-center chart">
                <div class="d-flex justify-content-center">
                    <div class="gauge-wraper">
                        <div class="gauge" data-value="123L">
                            <div class="range first-half"></div>
                            <div class="range second-half"></div>
                        </div>
                        <div class="gauge-meter" id="gauge-meter" style="transform: rotate(90deg)" [ngStyle]="{'transform': 'rotate(' + angulo + 'deg)'}">
                        </div>
                    </div>
                    <p class="precioPiso"><span style="color: #2264a1;">$ {{chartPrecioPiso | number : '1.2'}}</span> <br> <span style="color: #04539E;">Precio piso</span></p>
                    <p class="utilidadOperativa"><span style="color: #575756;">Utilidad<br>operativa neta</span></p>
                    <p class="gastosVenta"><span style="color: #575756;">Gastos de venta y <br> administración</span></p>
                    <p class="gastosCryogénico"><span style="color: #575756;">Gastos cryogénico, <br> distribución y <br> depreciación</span></p>
                    <p class="costosVenta"><span style="color: #575756;">Costo de <br> venta</span></p>
                </div>
            </div>
            <div class="row text-center precioPropuesto">
                <span style="color: #04539E; font-size: 1em;">$ {{chartPrecioPropuesto | number : '1.2'}}</span>
                <span style="color: #04539E; font-size: 1em;">Precio propuesto</span>
            </div>
        </div>
    </div>
</div>
<ngx-spinner type="ball-scale-multiple">
    <p style="color: white"> Calculando datos... </p>
</ngx-spinner>